## Census Data

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json
#from config import bea_key

In [2]:
# Read in data files for population data
total_pop = "Resources/population.csv"
west_pop = "Resources/westcoastpop.csv"
east_pop = "Resources/eastcoastpop.csv"

total_pop = pd.read_csv(total_pop) 
west_pop = pd.read_csv(west_pop)
east_pop = pd.read_csv(east_pop)

total_pop.index=['2014','2015','2016','2017','2018']
new_pop=total_pop.drop(['Unnamed: 0'],axis=1)
new_pop['West Coast Population'] = new_pop['West Coast Population'].astype(int).apply(lambda x: "{:,}".format(x)) 
new_pop['East Coast Population'] = new_pop['East Coast Population'].astype(int).apply(lambda x: "{:,}".format(x)) 
new_pop

     West Coast Population East Coast Population
2014            51,990,562           142,194,048
2015            52,514,181           143,606,904
2016            51,860,147           144,608,014
2017            52,338,164           146,084,866
2018            52,685,584           146,728,065

In [3]:
west_pop.index=['2014','2015','2016','2017','2018']
new_west=west_pop.drop(['Unnamed: 0'],axis=1)
new_west['Alaska'] = new_west['Alaska'].astype(int).apply(lambda x: "{:,}".format(x))   
new_west['California'] = new_west['California'].astype(int).apply(lambda x: "{:,}".format(x))   
new_west['Hawaii'] = new_west['Hawaii'].astype(int).apply(lambda x: "{:,}".format(x))   
new_west['Oregon'] = new_west['Oregon'].astype(int).apply(lambda x: "{:,}".format(x))   
new_west['Washington'] = new_west['Washington'].astype(int).apply(lambda x: "{:,}".format(x))   
new_west

       Alaska  California     Hawaii     Oregon Washington
2014  736,732  38,802,500  1,419,561  3,970,239  7,061,530
2015  738,432  39,144,818  1,431,603  4,028,977  7,170,351
2016  736,855  38,654,206  1,413,673  3,982,267  7,073,146
2017  738,565  38,982,847  1,421,658  4,025,127  7,169,967
2018  738,516  39,148,760  1,422,029  4,081,943  7,294,336

In [4]:
east_pop.index=['2014','2015','2016','2017','2018']
new_east=east_pop.drop(['Unnamed: 0'],axis=1)
new_east['Alabama'] = new_east['Alabama'].astype(int).apply(lambda x: "{:,}".format(x)) 
new_east['Connecticut'] = new_east['Connecticut'].astype(int).apply(lambda x: "{:,}".format(x)) 
new_east['Delaware'] = new_east['Delaware'].astype(int).apply(lambda x: "{:,}".format(x)) 
new_east['Florida'] = new_east['Florida'].astype(int).apply(lambda x: "{:,}".format(x)) 
new_east['Georgia'] = new_east['Georgia'].astype(int).apply(lambda x: "{:,}".format(x)) 
new_east['Louisiana'] = new_east['Louisiana'].astype(int).apply(lambda x: "{:,}".format(x)) 
new_east['Maine'] = new_east['Maine'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['Maryland'] = new_east['Maryland'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['Massachusetts'] = new_east['Massachusetts'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['Mississippi'] = new_east['Mississippi'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['New Hampshire'] = new_east['New Hampshire'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['New Jersey'] = new_east['New Jersey'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['New York'] = new_east['New York'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['North Carolina'] = new_east['North Carolina'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['Rhode Island'] = new_east['Rhode Island'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['South Carolina'] = new_east['South Carolina'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['Texas'] = new_east['Texas'].astype(int).apply(lambda x: "{:,}".format(x))
new_east['Virginia'] = new_east['Virginia'].astype(int).apply(lambda x: "{:,}".format(x))
new_east

,Alabama,Connecticut,Delaware,Florida,Georgia,Louisiana,Maine,Maryland,Massachusetts,Mississippi,New Hampshire,New Jersey,New York,North Carolina,Rhode Island,South Carolina,Texas,Virginia
2014,"4,849,377","3,596,677","935,614","19,893,297","10,097,343","4,649,676","1,330,089","5,976,407","6,745,408","2,994,079","1,326,813","8,938,175","19,746,227","9,943,964","1,055,173","4,832,482","26,956,958","8,326,289"
2015,"4,858,979","3,590,886","945,934","20,271,272","10,214,860","4,670,724","1,329,328","6,006,401","6,794,422","2,992,333","1,330,608","8,958,013","19,795,791","10,042,802","1,056,298","4,896,146","27,469,114","8,382,993"
2016,"4,863,300","3,576,452","952,065","20,612,439","10,310,371","4,681,666","1,331,479","6,016,447","6,811,779","2,988,726","1,334,795","8,944,469","19,745,289","10,146,788","1,056,426","4,961,119","27,862,596","8,411,808"
2017,"4,874,747","3,588,184","961,939","20,984,400","10,429,379","4,684,333","1,335,907","6,052,177","6,859,819","2,984,100","1,342,795","9,005,644","19,849,399","10,273,419","1,059,639","5,024,369","28,304,596","8,470,020"
2018,"4,887,871","3,572,665","967,171","21,299,325","10,519,475","4,659,978","1,338,404","6,042,718","6,902,149","2,986,530","1,356,458","8,908,520","19,542,209","10,383,620","1,057,315","5,084,127","28,701,845","8,517,685"

In [5]:
#Save data to dataframes
total_df=pd.DataFrame(new_pop)
west_df=pd.DataFrame(new_west)
east_df=pd.DataFrame(new_east)

In [6]:
#Print dataframes to output files
total_df.to_csv("output_data/total_pop.csv", index=True)
west_df.to_csv("output_data/west_pop.csv", index=True)
east_df.to_csv("output_data/east_pop.csv", index=True)

## GDP Data

In [ ]:
# West coast data pull for GDP data
geofips_w = ['AK','CA','HI','OR','WA']

params= {'UserID' : bea_key,
        'method' : 'GetData',
        'datasetname' : 'Regional',
        'TableName' : 'SAGDP2N',
        'GeoFIPS' : None,
        'LineCode' : '1',
        'Frequency' : 'A',
        'Year' : 'LAST5'
        }
# "Per capita real GDP by state (NAICS)" Key="SAGDP10N"
# "Gross domestic product (GDP) by state (NAICS)" Key="SAGDP2N"
# "Real GDP by state (NAICS)" Key="SAGDP9N"

url = 'https://apps.bea.gov/api/data?'
df = pd.DataFrame()

for index in geofips_w:
    params['GeoFIPS'] = index
    response = requests.get(url, params = params).json()
    print('...')
    GDP_value1 = response['BEAAPI']['Results']['Data'][0]['DataValue']
    GDP_year1 = response['BEAAPI']['Results']['Data'][0]['TimePeriod']
    GDP_value2 = response['BEAAPI']['Results']['Data'][1]['DataValue']
    GDP_year2 = response['BEAAPI']['Results']['Data'][1]['TimePeriod']
    GDP_value3 = response['BEAAPI']['Results']['Data'][2]['DataValue']
    GDP_year3 = response['BEAAPI']['Results']['Data'][2]['TimePeriod']
    GDP_value4 = response['BEAAPI']['Results']['Data'][3]['DataValue']
    GDP_year4 = response['BEAAPI']['Results']['Data'][3]['TimePeriod']
    GDP_value5 = response['BEAAPI']['Results']['Data'][4]['DataValue']
    GDP_year5 = response['BEAAPI']['Results']['Data'][4]['TimePeriod']
    print(f'Got sets...')
    series = {GDP_year1: GDP_value1, 
              GDP_year2: GDP_value2, 
              GDP_year3: GDP_value3, 
              GDP_year4: GDP_value4, 
              GDP_year5: GDP_value5}
    print(series)
    df = df.append(series, ignore_index=True)
print('Done!')

In [ ]:
# East coast data pull for GDP data
geofips_e = ['AL','MS','ME','NY','VA','LA', 'MA', 'MD','FL','GA','TX','NC','SC', 'NH', 'NJ','CT', 'DE', 'RI']

df2 = pd.DataFrame()

for index in geofips_e:
    params['GeoFIPS'] = index
    response = requests.get(url, params = params).json()
    print('...')
    GDP_value1 = response['BEAAPI']['Results']['Data'][0]['DataValue']
    GDP_year1 = response['BEAAPI']['Results']['Data'][0]['TimePeriod']
    GDP_value2 = response['BEAAPI']['Results']['Data'][1]['DataValue']
    GDP_year2 = response['BEAAPI']['Results']['Data'][1]['TimePeriod']
    GDP_value3 = response['BEAAPI']['Results']['Data'][2]['DataValue']
    GDP_year3 = response['BEAAPI']['Results']['Data'][2]['TimePeriod']
    GDP_value4 = response['BEAAPI']['Results']['Data'][3]['DataValue']
    GDP_year4 = response['BEAAPI']['Results']['Data'][3]['TimePeriod']
    GDP_value5 = response['BEAAPI']['Results']['Data'][4]['DataValue']
    GDP_year5 = response['BEAAPI']['Results']['Data'][4]['TimePeriod']
    print(f'Got sets...')
    series = {GDP_year1: GDP_value1, 
              GDP_year2: GDP_value2, 
              GDP_year3: GDP_value3, 
              GDP_year4: GDP_value4, 
              GDP_year5: GDP_value5}
    print(series)
    df2 = df2.append(series, ignore_index=True)
print('Done!')

In [ ]:
# Transform and rename columns for GDP data

df = df.T
df.columns = ['AK','CA','HI','OR','WA']
df = df.T
df

df2 = df2.T
df2.columns =  ['AL','MS','ME','NY','VA','LA', 'MA', 'MD','FL','GA','TX','NC','SC', 'NH', 'NJ','CT', 'DE', 'RI']
df2 = df2.T
df2

In [ ]:
# Save the dataframe to a CSV for GDP Data
df.to_csv("output_data/GDP_West.csv", index=True)

df2.to_csv("output_data/GDP_East.csv", index=True)

## West Coast Laws & Regulations Data

In [4]:
#Pull in data from the state's EPA files on the laws and regulations per state
ak_df = pd.read_csv('Resources/AK_SUPP_INTEREST_FILE.CSV') # Alaska
ca_df = pd.read_csv('Resources/CA_SUPP_INTEREST_FILE.CSV') # California
hi_df = pd.read_csv('Resources/HI_SUPP_INTEREST_FILE.CSV') # Hawaii
or_df = pd.read_csv('Resources/OR_SUPP_INTEREST_FILE.CSV') # Oregon
wa_df = pd.read_csv('Resources/WA_SUPP_INTEREST_FILE.CSV') # Washington

In [6]:
#Pull the relevant columns for each state 
ak_df = ak_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')
ca_df = ca_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')
hi_df = hi_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')
or_df = or_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')
wa_df = wa_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')

#Add state column
ak_df.insert(0,'STATE','AK')
ca_df.insert(0,'STATE','CA')
hi_df.insert(0,'STATE','HI')
or_df.insert(0,'STATE','OR')
wa_df.insert(0,'STATE','WA')

#Append data frames
west_coast_df = ak_df.append(ca_df, ignore_index = True)
west_coast_df = west_coast_df.append(hi_df, ignore_index = True)
west_coast_df = west_coast_df.append(or_df, ignore_index = True)
west_coast_df = west_coast_df.append(wa_df, ignore_index = True)

#Drop the rows that pertain to 'Air Pollution'
west_coast_df = west_coast_df[~west_coast_df['INTEREST_TYPE'].str.contains('AIR')]
west_coast_df = west_coast_df[~west_coast_df['SUP_INTEREST_TYPE'].str.contains('AIR|REMEDIATION|FUNDING', na=False)]

#Remove spaces from all columns
west_coast_df.columns = west_coast_df.columns.str.replace(' ', '')

#Remove decimals in dataframes
pd.set_option('precision', 0)

In [7]:
#Pull the counts of laws/regulations by State and Year
state_count_df = pd.DataFrame(west_coast_df.groupby(['STATE','START_YEAR']).count())
state_count_df = state_count_df.reset_index()

#Filter out only the years 2014 - 2018
state_count_df = state_count_df.loc[state_count_df['START_YEAR'].astype(str).str.contains('2014|2015|2016|2017|2018')]
export_state_data = state_count_df.to_csv('output_data/w_coast_laws_by_state.csv')

#Pull the counts of laws/regulations by year for the entire coast
coast_count_df = pd.DataFrame(west_coast_df.groupby(['START_YEAR']).count())
coast_count_df = coast_count_df.reset_index()

#Filter out only the years 2014 - 2018
coast_count_df = coast_count_df.loc[coast_count_df['START_YEAR'].astype(str).str.contains('2014|2015|2016|2017|2018')]
export_coast_data = coast_count_df.to_csv('output_data/w_coast_laws.csv')

# Laws East Coast

In [ ]:
# Read CSV

supp_int_al = pd.read_csv("Resources/epa_ecoast/AL_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_ct = pd.read_csv("Resources/epa_ecoast/CT_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_de = pd.read_csv("Resources/epa_ecoast/DE_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_ga = pd.read_csv("Resources/epa_ecoast/GA_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_la = pd.read_csv("Resources/epa_ecoast/LA_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_ma = pd.read_csv("Resources/epa_ecoast/MA_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_md = pd.read_csv("Resources/epa_ecoast/MD_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_me = pd.read_csv("Resources/epa_ecoast/ME_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_ms = pd.read_csv("Resources/epa_ecoast/MS_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_nc = pd.read_csv("Resources/epa_ecoast/NC_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_nh = pd.read_csv("Resources/epa_ecoast/NH_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_nj = pd.read_csv("Resources/epa_ecoast/NJ_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_ny = pd.read_csv("Resources/epa_ecoast/NY_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_ri = pd.read_csv("Resources/epa_ecoast/RI_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_sc = pd.read_csv("Resources/epa_ecoast/SC_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_tx = pd.read_csv("Resources/epa_ecoast/TX_SUPP_INTEREST_FILE.csv", low_memory=False)
supp_int_va = pd.read_csv("Resources/epa_ecoast/VA_SUPP_INTEREST_FILE.csv", low_memory=False)

In [ ]:
# Add Column with State Abbrv

supp_int_al.insert(0,"state","al")
supp_int_ct.insert(0,"state","ct")
supp_int_de.insert(0,"state","de")
supp_int_ga.insert(0,"state","ga")
supp_int_la.insert(0,"state","la")
supp_int_ma.insert(0,"state","ma")
supp_int_md.insert(0,"state","md")
supp_int_me.insert(0,"state","me")
supp_int_ms.insert(0,"state","ms")
supp_int_nc.insert(0,"state","nc")
supp_int_nh.insert(0,"state","nh")
supp_int_nj.insert(0,"state","nj")
supp_int_ny.insert(0,"state","ny")
supp_int_ri.insert(0,"state","ri")
supp_int_sc.insert(0,"state","sc")
supp_int_tx.insert(0,"state","tx")
supp_int_va.insert(0,"state","va")

supp_int_va.head()

In [ ]:
# Append files for complete East Coast

ent_supp_int = supp_int_al

ent_supp_int = ent_supp_int.append(supp_int_ct, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_de, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_ga, sort = True) 
ent_supp_int = ent_supp_int.append(supp_int_la, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_ma, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_md, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_me, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_ms, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_nc, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_nh, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_nj, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_ny, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_ri, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_sc, sort = True)
ent_supp_int = ent_supp_int.append(supp_int_va, sort = True)

In [ ]:
# Value Count by State
pre_st_cnt = ent_supp_int["state"].value_counts()
pre_st_cnt

In [ ]:
# Create DF for relevant values

relevant_df1 = pd.DataFrame({"State":ent_supp_int["state"],
                           "Main Interest Type":ent_supp_int["INTEREST_TYPE"], 
                           "Supplemental Interest Type":ent_supp_int["SUP_INTEREST_TYPE"],
                           "Start of Relief":ent_supp_int["START_DATE"],
                           "Create_dt of Relief":ent_supp_int["CREATE_DATE"]})
relevant_df1

In [ ]:
# Remove non-water categories

relevant_df_Water = relevant_df1[~relevant_df1['Main Interest Type'].str.contains('AIR', na=False)]
relevant_df_Water = relevant_df1[~relevant_df1['Supplemental Interest Type'].str.contains('AIR|REMEDIATION|FUNDING', na=False)]
relevant_df_Water.head()

In [ ]:
rlv_df_grpd_st_wt = relevant_df_Water.groupby(['State', 'Supplemental Interest Type'])
rlv_df_grpd_st_wt.count().head(10)

In [ ]:
#Dates

start_year = [None if pd.isnull(d) else datetime.datetime.strptime(str(d), "%d-%b-%Y 00:00:00").year  for d in relevant_df_Water["Start of Relief"]]
start_year

In [ ]:
relevant_df2 = pd.DataFrame({"State":relevant_df_Water["State"],
                           "Main Interest Type":relevant_df_Water["Main Interest Type"], 
                           "Supplemental Interest Type":relevant_df_Water["Supplemental Interest Type"],
                           "Start of Relief":start_year,
                           "Create_dt of Relief":relevant_df_Water["Create_dt of Relief"]})
relevant_df2

In [ ]:
#Filter out only the years 2014 - 2018
relevant_yrs = relevant_df2.loc[relevant_df2['Start of Relief'].astype(str).str.contains('2014|2015|2016|2017|2018')]
relevant_yrs

In [ ]:
post_st_cnt = relevant_df2["State"].value_counts()
post_st_cnt

In [ ]:
relevant_yrs['Main Interest Type'].value_counts()

In [ ]:
notAnObject = relevant_yrs.astype(str)
notAnObject.dtypes

In [ ]:
waterGrab = notAnObject['Main Interest Type'].str.contains("WATER", case = True, regex = True)
print(waterGrab)

In [ ]:
df = notAnObject[waterGrab]
print(df)

In [ ]:
df['Main Interest Type'].value_counts()

In [ ]:
export_state_data = relevant_yrs.to_csv('output_data/e_coast_laws_by_state.csv')